:root {
  --bg-header-footer: #6725A8;
  --bg-main: #f6f6fA;
  --bg-modal: rgba(0,0,0,0.3);
  --bg-checkbox: #CB11AB;
  --light-pink: rgba(203, 17, 171, 0.15);
  --border-color: #DDDDE1;
  --font-grey: #9797AF;
  --labels: #ffffff;
  --disabled: #cccccc;
  --active-amount: #000000;
  --attention: #FF3B30;
  --missing-font: #A0A0A4;
  --orange: #F55123;
  --green: #45C597;
  --additional: #F0ECF4;
  --hover-word: #0CB477;
  --underline: #E6E6E6;
  --bg-input: #8551B9;
  --placeholder: #c2a8bc;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
  cursor: url(./images/icons/cursor-pointer.svg) 0 5, pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "SegoeUI";
  src: url(./fonts/Segoe\ UI.ttf) format("ttf"), url(./fonts/SegoeUI.woff) format("woff"), url(./fonts/SegoeUI.woff2) format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "SegoeUI";
  src: url(./fonts/ofont.ru_Segoe\ UI\ Semibold.ttf) format("ttf"), url(./fonts/SegoeUI-SemiBold.woff) format("woff"), url(./fonts/SegoeUI-SemiBold.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SegoeUI";
  src: url(./fonts/Segoe\ UI\ Bold.ttf) format("ttf"), url(./fonts/SegoeUI-Bold.woff) format("woff"), url(./fonts/SegoeUI-Bold.woff2) format("woff2");
  font-weight: 700;
}