@font-face {
    font-family: 'SegoeUI';
    src: url(./fonts/Segoe\ UI.ttf) format('ttf'), url(./fonts/SegoeUI.woff) format('woff'), url(./fonts/SegoeUI.woff2) format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'SegoeUI';
    src: url(./fonts/ofont.ru_Segoe\ UI\ Semibold.ttf) format('ttf'), url(./fonts/SegoeUI-SemiBold.woff) format('woff'), url(./fonts/SegoeUI-SemiBold.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'SegoeUI';
    src: url(./fonts/Segoe\ UI\ Bold.ttf) format('ttf'), url(./fonts/SegoeUI-Bold.woff) format('woff'), url(./fonts/SegoeUI-Bold.woff2) format('woff2');
    font-weight: 700;
}